<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scmoanno.scmoanno.mapper.FilesMapper">
    <insert id="insertFiles">
        INSERT INTO scMoAnnoFiles (task_name)
        VALUES(#{taskName} )

    </insert>
    <update id="updateFiles1">
        update scMoAnnoFiles set scRNA_seq_file = #{files.scRna_SeqFile} where task_name = #{taskName}
    </update>
    <update id="updateFiles2">
        update scMoAnnoFiles set scATAC_seq_file = #{files.scAtac_SeqFile} where task_name = #{taskName}
    </update>
    <update id="updateFiles3">
        update scMoAnnoFiles set Tag_file = #{files.tagFile} where task_name = #{taskName}
    </update>
    <select id="findFileByTaskName" resultType="com.scmoanno.scmoanno.entity.Scmoannofiles">
        select * from scmoannofiles where task_name = #{taskName}
    </select>
    <select id="findResultByTaskName" resultType="com.scmoanno.scmoanno.entity.Scmoannoresult">
        select * from scmoannoresult where task_name = #{taskName}
    </select>

</mapper>