<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scmoanno.scmoanno.mapper.TaskMapper">
    <update id="updateTaskStatus">
        update scmoannotask
        set status = #{status}
        where task_id = #{id}
    </update>
    <update id="updateTaskEndTime">
        update scmoannotask
        set end_time = #{time}
        where task_id = #{id}
    </update>
    <delete id="deleteTasksByTaskId">
        delete scmoannotask from scmoannotask where task_id = #{id}
    </delete>
    <select id="findTasksByUserId" resultType="com.scmoanno.scmoanno.entity.Scmoannotask">
        select * from scmoannotask where uploader_id = #{id}
    </select>
    <select id="findAllTasks" resultType="com.scmoanno.scmoanno.entity.Scmoannotask">
        select * from scmoannotask
    </select>
    <select id="findAllTasksWithUserInformation" resultType="java.util.Map">
        SELECT u.*, t.*
            FROM scMoAnnoUser u
            JOIN scMoAnnoTask t ON u.user_id = t.uploader_id;
    </select>
</mapper>