<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scmoanno.scmoanno.mapper.UserMapper">
    <insert id="register">
        insert into scmoannouser(user_name, psw, email, is_admin, phone)
        values (#{userName},#{psw},#{email},#{isAdmin},#{phone})
    </insert>

    <select id="findUsers" resultType="com.scmoanno.scmoanno.entity.Scmoannouser">
        select * from scmoannouser
    </select>
    <select id="findUserByUserName" resultType="com.scmoanno.scmoanno.entity.Scmoannouser">
        select * from scmoannouser where user_name = #{userName}
    </select>
    <select id="findUserByPassword" resultType="com.scmoanno.scmoanno.entity.Scmoannouser">
        select * from scmoannouser where psw = #{password}
    </select>
    <select id="findUserByUserEmail" resultType="com.scmoanno.scmoanno.entity.Scmoannouser">
        select * from scmoannouser where email = #{email}
    </select>
    <select id="findUserByUserPhone" resultType="com.scmoanno.scmoanno.entity.Scmoannouser">
        select * from scmoannouser where phone = #{phone}
    </select>
</mapper>