<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scmoanno.scmoanno.mapper.UserMapper">

    <select id="findUsers" resultType="com.scmoanno.scmoanno.entity.Scmoannouser">
        select * from scmoannouser
    </select>
    <select id="findUserByUserName" resultType="com.scmoanno.scmoanno.entity.Scmoannouser">
        select * from scmoannouser where user_name = #{userName}
    </select>
    <select id="findUserByPassword" resultType="com.scmoanno.scmoanno.entity.Scmoannouser">
        select * from scmoannouser where psw = #{password}
    </select>
</mapper>