<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scmoanno.scmoanno.mapper.UserMapper">
    <insert id="register">
        insert into scmoannouser(user_name, psw, email, is_admin, phone)
        values (#{userName},#{psw},#{email},#{isAdmin},#{phone})
    </insert>
    <update id="updateUser">
        UPDATE scMoAnnoUser
        SET
        user_name = #{userName},
        email = #{email},
        is_admin = #{isAdmin},
        phone = #{phone}
        <if test="psw != null and psw != ''">
            , psw = SHA2(#{psw},256)
        </if>
        WHERE user_id = #{userId};
    </update>
    <delete id="deleteUserByUserID">
        delete scmoannouser from scmoannouser where user_id = #{userID}
    </delete>
    <select id="findUsers" resultType="com.scmoanno.scmoanno.entity.Scmoannouser">
        select * from scmoannouser
    </select>
    <select id="findUserByUserName" resultType="com.scmoanno.scmoanno.entity.Scmoannouser">
        select * from scmoannouser where user_name = #{userName}
    </select>
    <select id="findUserByUserNameAndPassword" resultType="com.scmoanno.scmoanno.entity.Scmoannouser">
        select * from scmoannouser where user_name = #{userName} and psw = SHA2(#{password},256)
    </select>
    <select id="findUserByUserEmail" resultType="com.scmoanno.scmoanno.entity.Scmoannouser">
        select * from scmoannouser where email = #{email}
    </select>
    <select id="findUserByUserPhone" resultType="com.scmoanno.scmoanno.entity.Scmoannouser">
        select * from scmoannouser where phone = #{phone}
    </select>
    <select id="findUserByUserId" resultType="com.scmoanno.scmoanno.entity.Scmoannouser">
        select * from scmoannouser where user_id=#{userId}
    </select>
</mapper>